<div class="container-register">
  <form class="form-register" [formGroup]="formData">
    <div class="form-header">
      <div class="close" (click)="hideForm()">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
      <h2>Nuevo registro</h2>
    </div>
    <hr>
    <fieldset>
      <legend>Vehículo</legend>
      <div class="checkbox">
        <input type="checkbox" name="write_enable" id="write_enable" (change)="enableInputPlate($event)">
        <label for="write_enable">¿Desea editar la placa?</label>
      </div>
      <div class="input-block">
        <label for="">Numero de Placa</label>
        <input type="text" name="plate_number" id="plate_number" formControlName="plate_number" [readonly]="plateNumberLocked" (input)="readPlate($event)">
        <sub class="error-form" *ngIf="errors['plate_number'] !== ''">{{errors['plate_mumber']}}</sub>
      </div>
      <div *ngIf="vehicle.length > 0">
        <div *ngFor="let vehicleLoad of vehicle" class="form-data-block">
          <div class="block-info">
            <span>Placa:</span>
            <span>{{vehicleLoad.plate_number}}</span>
          </div>
          <div class="block-info">
            <span>Tipo Vehículo:</span>
            <span>{{vehicleLoad.vehicle_type_name}}</span>
          </div>
          <div class="block-info">
            <span>Tipo de acceso:</span>
            <span>{{vehicleLoad.access_type_name}}</span>
          </div>
          <div class="block-info">
            <span>Estado actual:</span>
            <span>{{vehicleLoad.status_type_name}}</span>
          </div>
        </div>
      </div>
      <div class="error-form" *ngIf="errors.plate_number !== ''">{{errors.plate_number}}</div>
    </fieldset>
    <hr>
    <fieldset>
      <legend>Adicionales</legend>
      <div class="input-block">
        <label for="">Km de llegada</label>
        <input type="text" name="dni" id="dni">
        <sub class="error-form" *ngIf="errors[''] !== ''">{{errors['']}}</sub>
      </div>
      <div class="input-block">
        <label for="">Km de salida</label>
        <input type="text" name="dni" id="dni">
        <sub class="error-form" *ngIf="errors[''] !== ''">{{errors['']}}</sub>
      </div>
      <div class="input-block">
        <label for="">Destino</label>
        <input type="text" name="dni" id="dni">
        <sub class="error-form" *ngIf="errors[''] !== ''">{{errors['']}}</sub>
      </div>
      <div class="input-block">
        <label for="">Destino</label>
        <textarea name="" id="" cols="30" rows="10" class="textarea-register"></textarea>
        <sub class="error-form" *ngIf="errors['dni'] !== ''">{{errors['dni']}}</sub>
      </div>
    </fieldset>
    <hr>
    <fieldset>
      <legend>Chofér</legend>
      <div class="input-block">
        <label for="">Cédula</label>
        <input type="text" name="dni" id="dni" (input)="readDriver($event)">
        <sub class="error-form"></sub>
      </div>
      <div *ngIf="driver.length > 0">
        <div *ngFor="let driverLoad of driver" class="form-data-block">
          <div class="block-info">
            <span>Cédula:</span>
            <span>{{driverLoad.dni}}</span>
          </div>
          <div class="block-info">
            <span>Nombres:</span>
            <span>{{driverLoad.name}}</span>
          </div>
          <div class="block-info">
            <span>Apellidos:</span>
            <span>{{driverLoad.surname}}</span>
          </div>
          <div class="block-info">
            <span>Tipo Chofer:</span>
            <span>{{driverLoad.type}}</span>
          </div>
        </div>
      </div>
      <sub class="error-form" *ngIf="errors.dni !== ''">{{errors.dni}}</sub>
    </fieldset>
    <div class="btns-block">
      <button>Guardar</button>
      <button>Cancelar</button>
    </div>
  </form>
</div>
