.container-register {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.801);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding: 0 1rem;
}

.form-register {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  max-width: 600px;
  height: fit-content;
  box-sizing: border-box;
  background: white;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  top: 0;
  left: 0;
}

.form-header {
  display: flex;
  align-items: center;
  height: 4rem;
}

.form-header h2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(197, 224, 255);
  padding: 10px;
  justify-content: center;
}

.close {
  padding: 10px;
  cursor: pointer;
  width: 3.5rem;
  height: 100%;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background: rgb(0, 119, 255);
  justify-content: center;
  align-items: center;
}

.checkbox {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

.input-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-block input,
.input-block select
{
  padding: .8rem;
  outline-color: rgb(89, 179, 206);
  font-size: 1rem;
}

.btns-block {
  display: flex;
  justify-content: center;
  gap:1rem;
}

.btns-block button {
  width: 100%;
  max-width: 50%;
  padding: .5rem;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
}

.btns-block button:nth-child(1) {
  background: rgb(0, 119, 255);
  color: white;
}

.btns-block button:nth-child(2) {
  background: rgb(142, 142, 142);
  color: white;
}

.form-data-block {
  display: flex;
  flex-wrap: wrap;
}

.block-info {
  flex-grow: 1;
  min-width: 200px;
}

@media screen and (max-width: 600px) {
  .btns-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
  }

  .btns-block button {
    width: 100%;
    padding: 1rem;
    max-width: 100%;
  }
}
