<main>
  <app-navbar></app-navbar>
  <app-new-register
    *ngIf="formVisible"
    (showForm)="hideForm()"
    [formType]="formType"></app-new-register>
  <section class="detected-window {{'border-'+iconSelected.color}}" *ngIf="wasDetected">
    <div (click)="showForm()" class="detected-card {{iconSelected.color+'-card'}}">
      <span class="detected-text">Vehiculo detectado</span>
      <i class="fa-solid {{iconSelected.class}}"></i>
    </div>
    <div class="remove-card {{'border-left-'+iconSelected.color}}" (click)="deleteData()">
      <i class="fa-solid fa-xmark {{'close-'+iconSelected.color}}"></i>
    </div>
  </section>
  <img src="{{lifeUrl}}" class="hidden" id="videoImage" alt="">
  <router-outlet></router-outlet>
</main>

