nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  height: 4rem;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0px 0px 4px 1px rgb(223, 223, 223);
}

nav h1,
nav ul,
nav ul li {
  color: var(--color-nav);
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

nav ul li{
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

nav ul li:hover {
  background: var(--hover-bg);
}

nav ul li a{
  text-decoration: none;
  color: var(--color-nav);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.color-bars {
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  display: none;
}

.color-bars:hover {
  background: var(--hover-bg);
}

@media screen and (max-width: 900px) {
  nav ul {
    display: none;
  }

  .color-bars {
    display: flex;
  }
}
