<section class="content">
  <app-float-navbar></app-float-navbar>
  <app-table-common
  [sectionName]="sectionName"
  [path]= "path"
  [theads]= "theads"
  [fields]= "fields"
  (prepareFormToAdd)="prepareFormToAdd()"
  (prepareFormToUpdate)="prepareFormToUpdate($event)"
  (prepareToDelete)="prepareToDelete($event)"></app-table-common>
  <app-footer></app-footer>
  <app-alert
    [title]="modalAlert.title"
    *ngIf="modalAlert.isVisible"
    [message]="modalAlert.message"
    [icon]="modalAlert.icon"
    (agree)="modalAlert.actions.accept()"
    (cancel)="modalAlert.actions.cancel()"></app-alert>
</section>
