<main>
  <section class="container">
    <form>
      <img class="form-img" src="../../../assets/img/shield.png" alt="">
      <h1 class="system_name">{{sysName}}</h1>
      <div class="input-block">
        <input type="text" name="username" placeholder="Usuario">
        <sub class="error hidden" id="username-error"></sub>
      </div>
      <div class="input-block">
        <input type="text" name="password" placeholder="Contraseña">
        <sub class="error hidden" id="password-error"></sub>
      </div>
      <input type="submit" value="Acceder">
      <sub class="error hidden" id="access-error"></sub>
    </form>
  </section>
</main>
