/* You can add global styles to this file, and also import other style files */
:root {
  --width-img: 6rem;
  --color-nav: rgb(58, 53, 53);
  --hover-bg: rgb(255, 252, 76);
  --margin-top: 4rem;
  --height: 100vh
  --width-nav: 14rem;
  --green-btn: rgb(0, 234, 113);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  position: relative;
}


.camera_home {
  flex-grow: 1;
  width: 100%;
  display: flex;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  background: rgba(50, 50, 76, 0);
  padding: 1rem;
  box-sizing: border-box;
  gap: 1rem;
}

.camera_home img {
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  border: 5px solid rgba(60, 83, 117, 0.324);
}

.camera_btns {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.btn_action {
  padding: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn_action:first-child {
  background: var(--green-btn);
  color: white
}

.btn_add, .btn_excel {
  padding: .6rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  min-width: 8rem;
  font-size: 1rem;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.btn_add {
  background: rgb(0, 119, 255);
  color: white;
}

.btn_excel {
  background: rgb(0, 234, 113);
  color: white;
}

/* CSS de ventana de edicion */
.modal-form {
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.421);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  justify-content: center;
  padding: 4rem 1rem;
  overflow-y: auto;
}

.modal-form form {
  position: relative;
  background: white;
  width: 100%;
  max-width: 600px;
  padding: 1.5rem;
  height: fit-content;
}

.close-form {
  position: absolute;
  top: 0px;
  right: 15px;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px;
}

.modal-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-input-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.modal-input-check-block {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.modal-input-block input {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 10px;
  font-size: 1rem;
  outline-color: rgb(0, 119, 255);
}
.modal-input-block select {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 10px;
  font-size: 1rem;
  outline-color: rgb(0, 119, 255);
}

.error-form {
  color: red
}

.btns-form-modal {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.btns-form-modal button{
  padding: 10px;
  min-width: 6rem;
  border: none;
  cursor: pointer;
}

.btn-modal-ok{
  background: rgb(0, 119, 255);
  color: white
}

.btn-modal-cancel{
  background: rgb(209, 209, 209);
}

@media screen and (max-width: 600px) {
  .camera_btns {
    flex-direction: column;
  }

  .btn_add {
    flex-grow: 1;
  }

  .btn_excel {
    flex-grow: 1;
  }

  .btn_add, .btn_excel {
    min-width: 180px;
  }
}

.hidden {
  display: none;
}
