.table-container {
  width: 100%;
  overflow-x: auto;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px 2px rgb(205, 205, 205);
}

.section-title {
  width: 100%;
  margin-bottom: 1rem;
}

.table-filters {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.per-page-container, .search-container {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

#per-page, #search {
  padding: 5px;
  outline: none;
}

#search {
  min-width: 10rem;
}

.table-registers {
  width: 100%;
  background: rgb(255, 255, 255);
  border-collapse: collapse;
  height: fit-content;
}

.table-registers thead {
  background: black;
  color: white;
}

.table-registers th {
  padding: 1rem;
}

.table-registers td {
  padding: .8rem;
  text-align: center;
}

.table-registers tbody tr:nth-child(odd) {
 background: white
}

.table-registers tbody tr:nth-child(even){
 background: rgb(237, 237, 237);
}

.table-registers tbody tr:hover{
  background: rgb(186, 252, 223);
 }

.table-btns {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.table-btns button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.table-btn-edit {
  background: rgb(0, 119, 255);
  color: white
}

.table-btn-delete {
  background: red;
  color: white
}

.th-sticky {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background: black;
  color: white;
}

.column-sticky {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

.table-registers tbody tr:hover,
.table-registers tbody tr:hover .column-sticky {
  background: rgb(186, 252, 223);
 }

.sticky-odd {
  background: white
 }

 .sticky-even {
  background: rgb(237, 237, 237);
 }

 .paginator-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

 .paginator-btn {
  padding: 10px;
  min-width: 2.5rem;
  min-height: 2rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
 }

 .paginator-btns button:hover {
  background-color: black;
  color: white;
 }

.select-page-btn {
  background: rgb(238, 238, 238);
  border: 1px solid gray;
}

.btns-form-modal {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.btns-form-modal button{
  padding: 10px;
  min-width: 6rem;
  border: none;
  cursor: pointer;
}

.btn-modal-ok{
  background: rgb(0, 119, 255);
  color: white
}

.btn-modal-cancel{
  background: rgb(209, 209, 209);
}

 @media screen and (max-width: 550px) {
  .table-filters {
    display: flex;
    flex-direction: column;
  }

  .section-title {
    display: flex;
    justify-content: center;
  }
 }

